@charset "utf-8";
/* 기본서식 */
:root{
  --m_color:#E32929;
  --txt_color_1:#333;
  --txt_color_2:#fff;

  --title_size_1:24px;
  --txt_size_1:13px;
}
/* noto sans 웹폰트 주소 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body{
  font-family: "Noto Sans KR", arial, sans-serif;
  color:var(--txt_color_1);
  font-size: var(--txt_size_1);
}
a{
  color: var(--txt_color_1);
  text-decoration: none;
}

/* 상단 헤더서식 */
header > .h_top{
  position: relative;
}
header > .h_top h1{
  width: 200px;
  /* padding-top: 45px; */
  /* position: relative; top: 45px; */
  transform: translateY(45px);
}
header > .h_top h1 img{width: 100%;}

/* 로그인, 회원가입, 장바구니, 주문조회 서식 */
.top_lnb{
  position: absolute;
  right: 0px;
  top:30px;
}
.top_lnb > ul{
  display: flex;
}
.top_lnb > ul > li{margin: 0px 10px;}
.top_lnb > ul > li > a{
  color:var(--txt_color_2);
  font-size: var(--txt_size_1);
}
.top_lnb > ul > li > a:hover{
  text-decoration: underline;
}

/* 검색창 서식 */
#search_box{
  position: absolute;
  right: -10px; bottom: 15px;
}
#search_box input{
  /* width: 230px; */
  width: 40px;
  height: 36px;
  border-radius: 26px;
  border: none;
  background: var(--txt_color_2);
  /* text-align: center; */
  text-indent: 20px;
  transition: 0.5s;
}
#search_box input:focus{
  width: 250px;
}
#search_box > label{}
#search_box > label > i.fa-search{
  transform: translate(-36px, 4px);
  font-size: 22px;
  cursor: pointer;
}

/* 메인 2단 네비게이션 서식 */
.h_bottom{
  background: rgba(225,225,225,.8);
  width: 100%; height: 58.91px;
  overflow: hidden;
  transition: 0.5s;
  position: absolute;
}
.h_bottom:hover{height: 360px;}
.gnb{
  background: var(--txt_color_1);
}
.gnb> ul{
  display: flex;
  justify-content: flex-end;
}
.gnb> ul > li{
  line-height: 48px;
  text-align: center;
  padding: 0 40px;
  position: relative;
}
.gnb > ul > li > a{
  color: var(--txt_color_2);
  font-size: var(--txt_size_1);
  font-weight: 400;
}
.gnb > ul > li > a:hover{
  text-decoration: underline;
}
.gnb > ul > li > a::after{
  display: block;
  content: "";
  width: 1px; height: 10px;
  /* border-right: 1px solid #ccc; */
  background: #ccc;
  position: relative; top:-30px;
} 
.gnb > ul > li:first-child > a::after{left: 80px;}
.gnb > ul > li:nth-child(2) > a::after{left: 97px;}
.gnb > ul > li:nth-child(3) > a::after{left: 64px;}
.gnb > ul > li:nth-child(4) > a::after{left: 60px;}
.gnb > ul > li:nth-child(5) > a::after{left: 84px;}
.gnb > ul > li:nth-child(6) > a::after{left: 100px;}
.gnb > ul > li:last-child > a::after{display: none;}
.sub{
  position: absolute;
  width:100%;
  left:0;
}
.sub a:hover{
  text-decoration: underline;
}

/* 하단 푸터서식 */